.container {
    height: 100%;
    width: 100%;
    margin-top: 3rem;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
  }
  
  .titles {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .titles > .subtitle {
    color: #777;
    font-size: 18px;
    font-weight: 500;
  }
  
  .titles > .title {
    color: #333;
    font-size: 28px;
  }
  
  .inputContainer {
    margin-top: 2rem;
    padding: 0.2rem 0.6rem;
    border: 3px solid #333;
    height: 60px;
    width: 400px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.3s ease;
  }
  
  .inputContainer:focus-within {
    border-color: #777;
  }
  
  .inputContainer > .input {
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: 15px;
    flex-grow: 1;
  }
  
  .inputContainer > .sendIcon {
    margin-right: 1rem;
    font-size: 25px;
  }
  