.container {
    height: 100%;
    width: 100%;
    margin-top: 5rem;
  }
  
.wrapper {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}
  
.wrapper > .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.titles > h5 {
    color: #777;
    font-size: 30px;
    font-weight: bold;
}
  
.titles > h2 {
    color: #333;
    font-size: 25px;
}
  
.featuredProperties {
    width: 90%;
    margin-top: 2rem;
    margin-left: 10rem;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.featuredProperties > .featuredProperty {
    width: 300px;
    /* margin: 5rem; */
}
  
.featuredProperties > .featuredProperty > .imgContainer {
    display: inline-block;
    height: 180px;
    width: 300px;
    overflow: hidden;
    cursor: pointer;
}
  
.featuredProperties > .featuredProperty > .imgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 150ms all;
}
  
.owner {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}
  
.featuredProperty > .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem;
}
  
.featuredProperty > .details > .priceAndOwner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.priceAndOwner > .address {
    font-weight: bold;
    font-size: 18px;
    color : blueviolet;
}
  
.moreDetails {
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
  
  .moreDetails > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-right: 1px solid #0707b5;
    color: #2c2cdc;
    padding-right: 0.5rem;
  }

  .moreDetails > .icon {
    margin-left: 1rem;
  }
  
  .moreDetails > span:last-child {
    border: none;
  }
  
  .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    font-size: 18px;
    color: #222;
  }
  
  @media only screen and (max-width: 992px) {
    .container {
      margin-top: 10rem;
    }
  
    .featuredProperties {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media only screen and (max-width: 768px) {}
  